/* global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* colors */
html {
    --white: #FFFFFF;
    --black: #000000;
    --gray-one: #333333;
    --gray-two: #F9F9F9;
    --gray-three: #F2F2F2;
    --gray-four: #BDBDBD;
    --gray-five: #E0E0E0;
    --gray-six: #F3F3F3;

    /* 1rem = 16px (User Agent) = 100% */
    font-size: 62.5%;
}

body {
    background: var(--white);

    /* clamp = intervalo de tamanho (mínimo, padrão e máximo) */
    font-size: clamp(14px, 1.6rem, 2vw);
    font-family: 'Roboto', sans-serif;
}

.sr-only{ 
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 12rem;
    
    padding: 0 13rem;
}

/* titles */
h1 {
    color: var(--gray-four);
    font-size: 6.4rem;
    font-weight: 300;
}

h2 {
    color: var(--gray-one);
    font-size: 6.4rem;
    font-weight: 700;
}

h3 {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;
}

.count {
    color: var(--gray-four);
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: .8rem;
}

.light {
    font-weight: 300;
    font-size: 1.6rem;
    color: var(--black);
}

.normal {
    font-weight: 400;
    font-size: 2.2rem;
    color: var(--gray-one);
}

/* buttons */
.buttons {
    display: inline-block;
    border: solid 1px var(--gray-three);
    background-color: var(--white);
    padding: 1.5rem;
    margin-right: 2.2rem;
}

.buttons:hover {
    background-color: var(--gray-two);
}

.button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.8rem;

    padding: 2.4rem 2rem;
    width: 22.2rem;
    border: none;

    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.2rem;
}

.button.white {
    background-color: var(--white);
    color: var(--gray-one);
}

.button.white:hover {
    background-color: var(--gray-two);
}

.button.black {
    background-color: var(--gray-one);
    color: var(--white);
}

.button.black:hover {
    opacity: 80%;
}

/* line */
#line {
    height: 1px;
    background-color: var(--gray-four);
    opacity: 50%;
}

/* header */
header {
    padding: 2.9rem 13rem;
    background-color: var(--white);
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

nav {
    width: 60%;
    margin-right: 1.5rem;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    list-style: none;
}

nav ul a {
    font-size: 1.2rem;
    color: var(--gray-one);
    text-transform: uppercase;
    letter-spacing: .3rem;
    padding: .4rem 1.5rem;
}

nav ul a:hover {
    border-top: solid .1rem var(--gray-one);
    border-bottom: solid .1rem var(--gray-one);
}

/* footer */
footer {
    background-color: var(--gray-one);
    color: var(--white);
    margin-top: 9rem;
}

footer section {
    padding: 5.7rem 13rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

footer section ul {
    list-style: none;
}

footer section ul li {
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer section ul:last-child div {
    display: flex;
    gap: 4rem;
}

footer section ul a {
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 500;
}

footer section ul a:hover {
    color: var(--gray-four);
    font-size: 1.4rem;
    font-weight: 500;
}

footer #line {
    width: 100%;
}

footer p {
    text-align: center;
    font-family: 'Open sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--gray-four);
    padding: 2.4rem 0;
    opacity: 50%;
}


